.dashboard-container {
  display: flex;
  height: 100vh; 
  overflow: hidden; 
}

.dashboard-content {
  flex: 1; 
  overflow-y: auto; 
  height: 100vh; 
}

.dashboard-stats .stat-item {
  margin: 10px 0;
}

.chart {
  width: 60%; 
  height: 300px; 
  margin: auto; 
}