### Django ###
*.log
*.pot
*.pyc
__pycache__/


# Environments
.env
.venv
*.env
*.env.example
*.env.local
*.env.staging

/vars

.env.development

.env.production

**/*.env.development

get-pip.py

node_modules